@import '../../styles/variables.scss';

.tabs {
  display: flex;
}
.tabs__button__left,
.tabs__button__right {
  width: 250.5px;
  height: 50px;
  border: 1px solid rgba(223, 229, 236, 1);
  background: $background_element;
  font-family: $font-bold;
  font-size: 12px;
  color: $font-color;
  text-transform: uppercase;
  transition: transform 0.2s ease;
  &:active {
    background-color: $color-blue;
    transform: scale(1.05);
    color: $background_element;
  }
}
.active__button {
  background-color: $color-blue;
  color: $background_element;
}

.tabs__button__left{
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}

.tabs__button__right{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  }