@import "../../styles/variables.scss";

.ticket {
  width: 502px;
  height: 184px;
  background-color: $background_element;
  box-shadow: $box_shadow;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price {
  color: $color-blue;
  font-family: $font-medium;
  font-size: 24px;
}

.ticket__top {
  display: flex;
  justify-content: center;
  gap: 280px;
  height: 70px;
  align-items: center;
}

.ticket__items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 154px;
  height: 39px;
}

.ticket__span {
  color: $font-colorGrey;
  font-size: 12px;
  width: 100%;
  height: 100%;
  text-indent: 23px;

}
.ticket__time {
  color: $font-color;
  font-family: $font-medium;
  font-size: 14px;
  width: 100%;
  height: 100%;
  text-indent: 23px;
}

.ticket__sections{
display: flex;
}

.ticket__items{
display: flex;
flex-direction: column;
}
